<h2>{{ title }}</h2>
<form>
  <label for="prefix">Prefix</label>
  <select name="prefix">
    <option value=""></option>
    <option value="Dr.">Dr.</option>
    <option value="Miss">Miss</option>
    <option value="Mr.">Mr.</option>
    <option value="Mrs.">Mrs.</option>
    <option value="Ms.">Ms.</option>
    <option value="Prof.">Prof.</option>
    <option value="Rev.">Rev.</option>
  </select>
  <label for="f-name">First Name</label>
  <input type="text" name="f-name">
  <label for="m-name">Middle Name</label>
  <input type="text" name="m-name">
  <label for="l-name">Last Name</label>
  <input type="text" name="l-name"><br><br>
  <label for="res-address">Residential Address</label>
  <input type="text" name="res-address">
  <label for="res-period">Period</label>
  <input type="text" name="period"><br><br>
  <label for="fnpf">FNPF #</label>
  <input type="number" name="fnpf">
  <label for="tin">TIN #</label>
  <input type="number" name="tin"><br><br>
  <label for="prev-res-address">Previous Address</label>
  <input type="text" name="prev-res-address">
  <label for="prev-res-period">Period</label>
  <input type="email" name="prev-res-period"><br><br>
  <label for="post-address">Postal Address</label>
  <input type="text" name="post-address"><br><br>
  <label for="pers-email">Personal Email</label>
  <input type="email" name="pers-email">
  <label for="work-email">Work Email</label>
  <input type="email" name="work-email"><br><br>
  <label for="mobile">Mobile</label>
  <input type="tel" name="mobile">
  <label for="home-phone">Telephone (H)</label>
  <input type="tel" name="home-phone">
  <label for="work-phone">Telephone (W)</label>
  <input type="tel" name="work-phone"><br><br>
  <label for="age">Age</label>
  <input type="number" name="age">
  <label for="dob">Date of Birth</label>
  <input type="date" name="dob">
  <label for="marital">Marital Status</label>
  <select name="marital">
    <option value="single">Single</option>
    <option value="married">Married</option>
    <option value="divorced">Divorced</option>
    <option value="widowed">Widowed</option>
    <option value="defacto">Defacto</option>
  </select>
  <label for="dependants">Dependant (No.)</label>
  <input type="number" name="dependants"><br><br>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation"><br><br>
  <label for="curr-employer">Current Employer</label>
  <input type="text" name="curr-employer">
  <label for="curr-employer-address">Address</label>
  <input type="text" name="curr-employer-address">
  <label for="curr-employer-period">Period</label>
  <input type="text" name="curr-employer-period"><br><br>
  <label for="prev-employer">Previous Employer</label>
  <input type="text" name="prev-employer">
  <label for="prev-employer-address">Address</label>
  <input type="text" name="prev-employer-address">
  <label for="prev-employer-period">Period</label>
  <input type="text" name="prev-employer-period"><br><br>
  <label for="house-value">Own House Estimated Value</label>
  <input type="number" name="house-value">
  <label for="curr-mortgager">Mortgaged With</label>
  <input type="text" name="curr-mortgager">
  <label for="curr-monthly">Monthly Payment</label>
  <input type="number" name="curr-monthly"><br><br>
  <label for="curr-balance">Mortgage Balance</label>
  <input type="number" name="curr-balance">
  <label for="not-own-house">If Not Living in Own House</label>
  <select name="not-own-house">
    <option value="n/a">N/A</option>
    <option value="renting flat">Renting Flat</option>
    <option value="house-boarding">House-Boarding</option>
    <option value="parents/relatives">Living with Parents/Relatives</option>
  </select><br><br>
  <label for="bank">Bank Name</label>
  <select name="bank">
    <option value="bsp">BSP</option>
    <option value="anz">ANZ</option>
    <option value="bred bank">Bred Bank</option>
    <option value="hfc">HFC</option>
    <option value="baroda bank">Baroda Bank</option>
    <option value="westpac">Westpac</option>
  </select>
  <label for="bank-branch">Branch</label>
  <input type="text" name="branch"><br><br>
  <label for="account-name">Account Name</label>
  <input type="text" name="account-name">
  <label for="account-number">Account Number</label>
  <input type="number" name="account-number"><br><br>
</form><br>

