
<h1>Unsecured Personal Loan Application</h1>
<app-intro *ngIf="this.CurrentPage == 0"></app-intro>
<app-personal *ngIf="this.CurrentPage == 1"></app-personal>
<app-loan *ngIf="this.CurrentPage == 2"></app-loan>
<app-reference *ngIf="this.CurrentPage == 3"></app-reference>
<app-financial *ngIf="this.CurrentPage == 4"></app-financial>
<button type="button" (click)="prevPage()" *ngIf="this.CurrentPage != 0">Previous</button>
<button type="button" (click)="nextPage()" *ngIf="this.CurrentPage != 4">Next</button>
<button type="button">Save and Continue Later</button>
