<h2>{{ title }}</h2>
<form>
  <label for="loan-purpose">Loan Purpose</label>
  <select name="loan-purpose">
    <option value="holiday">Marau - Holiday</option>
    <option value="wedding">Domoni - Wedding</option>
    <option value="home renovation">Vuvale - Home Renovation</option>
    <option value="education">Vuli - Education</option>
    <option value="medical">Bulabula - Medical</option>
    <option value="debt consolidation">Maroroy - Deby Consolidation</option>
    <option value="investment">Torocake - Investment</option>
    <option value="hire purchase">Yaya - Hire Purchase</option>
    <option value="other">Other</option>
  </select><br><br>
  <label for="loan-details">Loan Details</label>
  <textarea name="loan-details"></textarea><br><br>
  <label for="loan-term">Loan Term (Months)</label>
  <select name="loan-term">
    <option value="6">6</option>
    <option value="12">12</option>
    <option value="18">18</option>
    <option value="24">24</option>
    <option value="30">30</option>
    <option value="36">36</option>
    <option value="42">42</option>
    <option value="48">48</option>
  </select>
  <label for="loan-amount">Loan Amount</label>
  <input type="number" name="loan-amount"><br><br>
  <label for="loan-repayment">Loan Repayment</label>
  <select name="loan-repayment">
    <option value="weekly">Weekly</option>
    <option value="fortnightly">Fortnightly</option>
    <option value="monthly">Monthly</option>
  </select>
</form><br><br>
